.navBar{
    text-decoration: none;
    text-align: center;
    font: Arial;
    color: rgb(11, 7, 40);
    font-size: large;
   
}

.headerStyle {
    background-color: black;
    color: rgb(155, 8, 8);
    font-size: large;
    font-family: 'Menace', sans-serif;
    text-align: center;  
}
.largerFont{
    font-size: 2rem;
}

.menuStyle {
    flex-direction: column;
    container: flex;
    align-items: center;
    justify-content: center ;
}