body{
    background-image: url(/img/skull2_greyed.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 70%;
    background-color: white;
}

.navBar{
    text-decoration: none;
    text-align: center;
    font: Arial;
    color: rgb(11, 7, 40);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.healthcode{
    background-image: url(/img/commonwealth_logo.jpg);
}

.headerStyle {
    background-color: black;
    color: rgb(180, 107, 107);
    font-size: large;
    font-family: 'Menace', sans-serif;
    font-weight: bolder;
    text-align: center;  
}
.footerStyle {
    background-color: black;
    color: rgb(200, 181, 181);
    font-size: large;
    font-family: 'Menace', sans-serif;
    text-align: center;  
}

.largerFont{
    font-size: 2rem;
}

.menuStyle {
    flex-direction: column;
    container: flex;
    align-items: center;
    justify-content: center ;
}

a:link {
    text-decoration: none;
}
a:hover{
    color: blueviolet;
}

