.navBar{
    text-decoration: none;
    text-align: center;
    font: Arial;
    color: rgb(11, 7, 40);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.headerStyle {
    background-color: black;
    color: rgb(185, 76, 76);
    font-size: large;
    font-family: 'Menace', sans-serif;
    text-align: center;  
}
.footerStyle {
    background-color: black;
    color: rgb(200, 181, 181);
    font-size: large;
    font-family: 'Menace', sans-serif;
    text-align: center;  
}

.largerFont{
    font-size: 2rem;
}

.menuStyle {
    flex-direction: column;
    container: flex;
    align-items: center;
    justify-content: center ;
}